@import url("https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&family=Yatra+One&display=swap");
nav a {
    text-align: center;
    text-decoration: none;
    color: #001400;
    font-size: large;
}
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #54DEFD;
    align-items: center;
    color: #293241;
    font-family: 'Yatra One';
    padding-left: 2%;
    padding-right: 2%;
    flex-direction: column;

}
body {
    background-color: #DAC6B5;
    color: #293241;
    margin-left: 2%;
    margin-right: 2%;
}
#spotlight2 {
    border-color: #3D5A80;
    border-style: solid;
}
#hero {
    border-color: #3D5A80;
    border-style: solid;
}
#spotlight1 {
    border-color: #3D5A80;
    border-style: solid;
}
#news {
    border-color: #3D5A80;
    border-style: solid;
}
#companies {
    border-color: #3D5A80;
    border-style: solid;
}
footer {
    background-color: #54DEFD;
    text-align: center;
}
.break {
    flex-basis: 100%;
    height: 0;
  }
